

/* === GERAL === */
* {

    border: 0;
    margin: 0;
    padding: 0;
}


/* === CABEÇALHO === */

header div {

    padding: 36px;
}

img {

    padding-left: 130px;
    padding-right: 75px; 
}

.links {

    text-decoration: none;
    font-size: 16px;
    padding-right: 20px;
    color: black;
}



.links:hover {

	text-decoration: none; 
	color: #ada6a5;
    transition: 200ms;
}

/* === BANNER === */

.banner {

    width: 940px;
    margin: 0 auto;
    margin-bottom: 40px;
    background:  #FBDFDB;
    border-radius: 30px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-right: 20px;
}


.content-banner-img img {

    width: 216px;
    padding: 0;
    padding-left: 160px;
}

.content-banner-description {

    width: 316px;
    padding-left: 60px;
    padding-top: 50px;
}

.content-banner-description h1 {

    padding-bottom: 10px;
}

/* === CARDS === */

.mor_acess {

    margin-left: 155px;
    padding-bottom: 3px;
    font-family: Roboto;
}

.cards {
    
    margin: 0 auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px; 
    
}


.card_img_container img {

    padding: 0px;
    width: 100%;
    border-radius: 15px;
}

.card_info,
.autor_info {

    margin-top: 6px;
    font-family: Roboto;
}

.card_info {

    font-size: 18px;
}

.autor_info {

    color: #777777;
    font-size: 14px;
}

/* === ABOUT === */

.content-about {

    margin-left: 155px;
    padding-bottom: 20px;
    font-family: Roboto;
}

.content-about h3,p {

    margin-bottom: 20px;
    max-width: 750px;
}

/* === MODAL === */

.modal-overlay {

    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
}


.modal {

    background-color: white;
    /* width: 52%;
    height: 60%; */
    max-width: 660px;
    height: 413px;
    margin: 20vh auto;
    border-radius: 16px;
}

.modal-info {

    text-align: center;
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #111111;
}

.modal-info p {

    margin-top: 7px;
    margin-bottom: 5px;
    word-spacing: 2px;
}

.close-modal p {

    text-align: center;
    font-family: Roboto-Regular;
    margin-top: 60px;
    font-size: 16px;
    color: #999999;
    cursor: pointer;


}

.modal-content img {

    padding: 0px;
    margin-top: 25px;
    margin-left: 30px;
    width: 600px;
    height: 200px;
    border-radius: 15px;
}



