

/* === GERAL === */
* {
    border: 0;
    margin: 0;
    padding: 0;
}


/* === CABEÇALHO === */

header div {
    padding: 36px;
}

img {
    padding-left: 130px;
    padding-right: 75px; 
}

.links {
    text-decoration: none;
    font-size: 16px;
    padding-right: 20px;
    color: black;
}

/* === BANNER === */

.banner {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 40px;
    background:  #FBDFDB;
    border-radius: 30px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-right: 20px;
}


.content-banner-img img {
    width: 216px;
    padding: 0;
    padding-left: 160px;
}

.content-banner-description {
    width: 316px;
    padding-left: 60px;
    padding-top: 50px;
}

.content-banner-description h1 {
    padding-bottom: 10px;
}

/* === CARDS === */

.mor_acess
{
    margin-left: 155px;
    padding-bottom: 3px;
    font-family: Roboto;
}

.cards
{
    
    margin: 0 auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px; 
    
}


.card_img_container img
{
    padding: 0px;
    width: 100%;
    border-radius: 15px;
}

.card_info,
.autor_info
{
    margin-top: 6px;
    font-family: Roboto;
}

.card_info
{
    font-size: 18px;
}

.autor_info
{
    color: #777777;
    font-size: 14px;
}